@import "main-page-disc";

body {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;

}

.ui.sidebar{
  opacity: 0.3;
  background-color: red;
}
